{%include 'header.html.twig'%}
<h1 class="naglowek">Posty</h1>

<div id="pageContainer">
    <h1>{{pageTitle}}</h1>
    {# jeśli użytkownik jest zalogowany to pokaż #}
    {% if user is defined %}
    <div id="loggedUser">Zalogowany użytkownik: {{ user.getName() }} </div>
    {% endif %}
</div>
<a href="upload" class="upl">Wgraj mema</a>
<br><br>
{% for post in posts %}

<div class='post'>

    <div class='title'>
        <h2 class="ft">{{ post.getTitle() }}</h2>
        Autor: {{post.getAuthorName() }}<br>
        {{ post.getTimestamp() }}<br>
    </div>
    <img class='img' src="{{ post.getFilename() }}"><br>
    <div class='vote'>
        <button onclick="location.href='like/{{ post.getId() }}'" class='upvote' type='button'>▲</button>
        <div class='votecounter'>{{ post.getLikes() }}</div>
        <button onclick="location.href='dislike/{{ post.getId() }}'" class='downvote' type='button'>▼</button>
    </div>
</div>
{% endfor %}

{%include 'footer.html.twig'%}
